.welcome-container{
   width:100%;
   height:80%;
   display: flex;
   flex-direction: column;
}
.welcome-row1{
    padding-top: 8%;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: space-evenly;

}

#welcome-head1{
    font-size:340%;
}
#welcome-head2{
    font-size:x-large;
    color: rgb(169, 168, 168);
}
.welcome-row2{
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    margin-top: 8%;
    padding: 2%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
.welcome-row2 img{
    width:80%;
}
.welcome-row2 p{
    font-size: xx-large;
}